<p id="notice"><%= notice %></p>

<h1>Listing Jobs</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Github</th>
      <th>Readme</th>
      <th>Contribute</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.project %></td>
        <td>
          <a href="https://github.com/<%= job.github %>" target="_blank">Show on GitHub</a>
        </td>
        <td>
          <a href="https://github.com/<%= job.readme %>" target="_blank">Show readme</a>
        </td>
        <td>

          <a href="https://github.com/<%= job.contribute %>" target="_blank">Show contribute guide</a>
        </td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
