<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @job.project %>
</p>

<p>
  <strong>Github:</strong>
  <%= @job.github %>
</p>

<p>
  <strong>Readme:</strong>
  <%= @job.readme %>
</p>

<p>
  <strong>Contribute:</strong>
  <%= @job.contribute %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
